h1 { text-align: center; 
    color: orange;

}

button { width: 100%
    padding: 10px;
    background-color: orange;
    

}

.conteudo {
    background-color: rgb(9, 55, 192);
     text-align:center;
     font-family: Arial, sans-serif;
     border-radius:  10px;
     width: 260px;
     
    
}

body {
   
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
     align-items: center;
     height: 100vh;
    
    
}