h1 { text-align: center; 
    color: orange;

}

button { width: 50%;
    padding: 10px;
    background-color: orange;
    margin-left: 65px;
    margin-top: 10px;
    

}

.conteudo {
    background-color: rgb(9, 55, 192);
     text-align: left;
     font-family: Arial, sans-serif;
     border-radius:  10px;
     width: 260px;
     
    
}

body {
   
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
    
}

label{
    margin-left: 45px;
    color: #f5f5f5;
    font-style: bold;
}

input{
    margin-left: 45px;
}



