h1 { text-align: center; 
    color: orange;

}

button { width: 100%
    padding: 10px;

}

.conteudo {
     text-align:center;
    
}

body {
   
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    
}